<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/Admin.css">
</head>
<body>
    <nav>
        <ul class="nav_menu">
            <li><a href="{{ url_for('show_menu') }}">Menu</a></li>
            <li><a href="{{ url_for('admin') }}">Add Menu Item</a></li>
            <li><a href="{{ url_for('users') }}">Users</a></li>
            <li><a href="{{ url_for('delete_item') }}">Delete Menu Item</a></li>
        </ul>
    </nav>
    <hr>
    <!-- Rest of the admin.html content -->
        <form class="custom-form" action="{{ url_for('add_menu_item') }}" method="POST" enctype="multipart/form-data">
            <h2>Add Items</h2>
            <div class="form-group">
              <label for="Category">Category</label>
              <input type="text" id="Category" name="category" placeholder="Enter your Category">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" id="price" name="price" placeholder="Enter your price">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" name="description" rows="5" placeholder="Write your Description"></textarea>
            </div>
            <div class="form-group">
                <label for="Image">Image</label>
                <input type="file" id="Image" name="image">
            </div>
            <div class="form-group">
              <input type="submit" value="Add Item">
            </div>
          </form>
</body>
</html>
