<header>
    <div class="main-header">
        <div class="logo">
        </div>
        <nav class="navbar shadow-sm fixed-top bg-white">
            <ul>
                <li><h1><a href="/templates/Home.html" style="text-decoration:none;color:black;">Foodie</a><h1></h1></li>
                <li><a href="/templates/Home.html">Home</a></li>
                <li><a href="/templates/Menu.html">Menu</a></li>
                <li><a href="/templates/Reservation.html">Reservation</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">About us</a></li>
                <!-- <li><a href="#" id="cart-icon">Cart (<span id="cart-count">0</span>)</a></li> -->
                 <li><div class="search-container">
                    <input type="text" placeholder="Search..." class="search-input">
                    <i class="fas fa-search search-icon"></i>
                </div></li>
                <li><div class="cart"><a href="#" id="cart-icon">Cart (<span id="cart-count">0</span>)</a></div></li>
                <li><div class="lgn-btn">
                    <!-- <a href="templates/Login.html"><input type="button" value="Login"/></a> -->
                    <a href="#">Logout</a>
                </div></li>
            </ul>
        </nav>
        <!-- <button class="lgn-btn">Login</button>  -->
        
        
        
        </div>
    </div>
</header>